@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

.fullpage-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
